.speaker
  %a{ id: person.slug }
  .speaker__headshot
    - if person.image_filename
      = image_tag "speaker-headshots/#{person.image_filename}", alt: person.name
  %h3
    = person.name
  %h4
    = speaker_talks(person)

  - if person.bio
    .speaker__bio
      = person.bio.html_safe
  .speaker__links
    - person.social_info.each do |type, url|
      %a.speaker__social{ href: url, target: '_blank' }
        %i.fa{ class: "fa-#{type}" }
