= wrap_layout :base_layout do
  .conference_layout{ class: "#{'sub_page' if current_page.data.sub_page}" }
    %section.hero
      .hero-inner
        .hero-logo
          %img{ src: "/images/conf-2016-logo.svg" }
        .hero-copy
          %h2
            June 15 - 18, 2016
            %i.fa.fa-star-o
            Chicago, IL

          %div.sign-up
            = partial 'partials/mailchimp'
            %p Subscribe to our mailing list to receive conference updates.

          %div.clear-fix

          %p
            - unless current_page.data.short_name == 'tickets'
              = link_to "Tickets", "tickets.html", :class => "button primary"
            = link_to "Sponsor", "sponsor.html", :class => "button primary"
          -#  = link_to "Scholarships", "scholarships.html", :class => "button success"
          -#  %a.button.primary{ href: 'https://guestlistapp.com/events/306111' }
          -#    Register NOW!


          -#%p
          -#  Check out our
          -#  = succeed '.' do
          -#    = link_to "fantastic sponsors", "sponsors.html"

          %h4.childcare-callout
            = link_to "Childcare Available!", "childcare.html"

    #content
      = yield


      .developer-definition
        %a{ name: 'developer-definition' }
        %small
          We define "software developer" as anyone who has written a line of code
          (HTML, CSS, JavaScript, Ruby, Python, Java, whatever) and can explain
          what it does.  Designers, E-book publishers, and beginners as well as
          engineers with 20 years experience have enjoyed our workshops and been
          inspired by each other.

      -#%p
      -#  We wouldn't be here without the generous support of
      -#  = succeed '.' do
      -#    = link_to "our sponsors", "sponsors.html"
