%section.sponsors
  .sponsors__content
    %h2.sponsors__title
      Sponsors
    %p.sponsors__copy
      We wouldn't be here without the generous support of our sponsors.
      %br
      Find out more about funding our diversity efforts.

    .sponsors-list.sponsors-list--platinum
      %a.sponsor-image{ href: "http://teampolymathic.com/" }
        = image_tag("sponsors/polymathic.png")
      %a.sponsor-image{ href: "https://www.womentechmakers.com/" }
        = image_tag("sponsors/women_techmakers.png")
      %a.sponsor-image{ href: "https://www.google.com/" }
        = image_tag("sponsors/google.png")
    .sponsors-list.sponsors-list--gold
      %a.sponsor-image{ href: "http://developer.nytimes.com/" }
        = image_tag("sponsors/nytimes.png")
      %a.sponsor-image{ href: "http://mailchimp.com/" }
        = image_tag("sponsors/mailchimp.png")
      %a.sponsor-image{ href: "https://www.kcura.com/" }
        = image_tag("sponsors/kcura.png")
    .sponsors-list.sponsors-list--silver
      %a.sponsor-image{ href: "http://www.cdkglobal.com/" }
        = image_tag("sponsors/cdk_global.png")
      %a.sponsor-image{ href: "https://www.devmynd.com/" }
        = image_tag("sponsors/devmynd.png")
    .sponsors-list.sponsors-list--bronze
      %a.sponsor-image{ href: "http://www.neurensic.com/" }
        = image_tag("sponsors/neurensic.png")
      %a.sponsor-image{ href: "https://www.docusign.com/" }
        = image_tag("sponsors/docusign.png")
      %a.sponsor-image{ href: "http://devbootcamp.com/" }
        = image_tag("sponsors/dev_bootcamp.png")
      %a.sponsor-image{ href: "https://github.com/" }
        = image_tag("sponsors/github.png")
