.speaker
  %a{ id: talk.slug }

  %h3
    = talk.title
  %h4
    %small
      %strong= talk_theme_text(talk)
      %br/
    = talk_day_text(talk)

  %p= talk_speakers(talk)

  - if talk.description.present?
    .talk__description
      = talk.description.html_safe
