%section.content
  %h1
    Write/Speak/Code 2016 Talks

  %h2
    Keynotes

  %h2
    Conference Sessions

  %h2
    1st Year Track

  %h2
    Alumni Track

  .speakers
    - @talks.each do |talk|
      .speaker
        / %a{ id: talk.slug }

        %h3
          = talk.title
        %h4
          - talk.people.each do |person|
            = link_to person.name, "#{people_path}##{person.slug}"
        - if talk.description
          .speaker__bio
            = talk.description.html_safe
