%section.content
  %a{ name: 'top' }
  %h1
    Write/Speak/Code 2016 Schedule

  %nav.sub
    %ul.sub__list
      %li.sub__item
        = link_to  'Wednesday', '#day1'
      %li.sub__item
        = link_to  'Thursday', '#day2'
      %li.sub__item
        = link_to  'Friday', '#day3'
      %li.sub__item
        = link_to  'Saturday', '#day4'

  %a{ name: 'day1' }
  %h2
    Wednesday, June 15, 2016

  = link_to "All Wednesday Talk Descriptions", "#{talks_path}#write"
  |
  = link_to "All Alumna Talk Descriptions", alumna_talks_path

  %table
    %tr
      %th.schedule__time &nbsp;
      %th.schedule__track
        First-year Track: Write
      %th.schedule__track
        Alumna Track: Leadership
    %tr.row--all
      %td 8:00 am
      %td{ colspan: 2 }
        Registration &amp; Breakfast
    %tr.row--all
      %td 9:00 am
      %td{ colspan: 2 }
        Welcome
    %tr.row--keynote
      %td
        9:20 am
      %td{ colspan: 2 }
        %p.track__title
          = link_to "Alex Quin", "#{speakers_path}#alex-qin"
          %br
          Shaving my head made me a better programmer

    %tr.row--keynote
      %td
        10:00 am
      %td{ colspan: 2 }
        %p.track__title
          = link_to "Lauren Scott", "#{speakers_path}#lauren-scott"
          %br
          How To Be Everything: A Look At The Way We Give Advice

    %tr.row
      %td
        10:40 am
      %td{ colspan: 2 }
        Icebreaker

    %tr
      %td 11:00 am
      %td{ rowspan: 3 }
        %p.track__title
          Craft a powerful bio
      %td
        %p.track__title
          = link_to "Katherine Wu", "#{speakers_path}#katherine-wu"
          %br
          Ask vs. Guess Culture Communication

    %tr
      %td 11:35 am
      %td
        %p.track_title
          Communication Workshop

    %tr
      %td 12:25 pm
      %td
        %p.track_title
          Leadership Workshop

    %tr.row--all
      %td 1:00 pm
      %td{ colspan: 2 }
        Lunch with Chrys Wu, The New York Times Developers

    %tr
      %td 2:00 pm
      %td{ rowspan: 2 }
        %p.track__title
          Writing for Developers Panel
        %p
          = link_to "Lauren Scott (Moderator)", "#{speakers_path}#lauren-scott"
          = link_to "Chiu-ki Chan", "#{speakers_path}#chiu-ki-chan"
          = link_to "Tanya Schlusser", "#{speakers_path}#tanya-schlusser"
          = link_to "Annyce Davis", "#{speakers_path}#annyce-davis"
          and
          = link_to "Iris Amelia Febres", "#{speakers_path}#iris-amelia-febres"
      %td
        = link_to "Heidi Waterhouse", "#{speakers_path}#heidi-waterhouse"
        %br
        Cassandra at the Keyboard

    %tr
      %td 2:35 pm
      %td{ rowspan: 2 }
        %p.track__title
          Self-Care Workshop - Erin Obradovich & Kristina Vogt

    %tr
      %td 3:00 pm
      %td
        %p.track__title
          Topic Generation & Outlining

    %tr.row--all
      %td 4:00 pm
      %td
        %p.track__title
          Snack Break
      %td
        %p.track__title
          Snack Break (in room)

    %tr
      %td 4:10 pm
      %td
        %p.track__title
          Writing and Feedback
      %td
        %p.track__title
          Self-Care Workshop continued

    %tr.row--keynote
      %td 5:35 pm
      %td{ colspan: 2 }
        %p.track__title
          = link_to "Annyce Davis", "#{speakers_path}#annyce-davis"
          %br
          Say it with Video

    %tr.row--all
      %td 6:30 pm
      %td{ colspan: 2 }
        Appreciations and Action Items

    %tr
      %td 7:00pm
      %td{ colspan: 2 }
        Opening Night Party @ The Rec Room, 18 W Hubbard St

  %a{ name: 'day2' }
  %h2
    Thursday, June 16, 2016

  = link_to "All Thursday Talk Descriptions", "#{talks_path}#speak"
  |
  = link_to "All Alumna Talks Descriptions", alumna_talks_path

  %table
    %tr
      %th.schedule__time &nbsp;
      %th.schedule__track
        First-year Track: Speak
      %th.schedule__track
        Alumna Track: Visibility

    %tr.row--all
      %td 9:00 am
      %td{ colspan: 2 }
        Welcome

    %tr.row--keynote
      %td 9:10 am
      %td{ colspan: 2 }
        %p.track__title
          = link_to "Julianna Rusakiewicz", "#{speakers_path}#julianna-rusakiewicz"
          %br
          Communication and Collaboration: Lessons from the Performing Arts

    %tr
      %td 10:00 am
      %td
        %p.track__title
          Talk Proposals
      %td
        %p.track__title
          = link_to "Neha Batra", "#{speakers_path}#neha-batra"
          %br
          Branding is the most cringeworthy term you want to know about

    %tr.row
      %td 10:35 am
      %td
        %p.track__title
          Conference Organizers Panel
        %p
          = link_to "Chiu-ki Chan (Moderator),", "#{speakers_path}#chiu-ki-chan"
          = link_to "LaToya Allen,", "#{speakers_path}#latoya-allen"
          = link_to "Elle Meredith,", "#{speakers_path}#elle-meredith"
          = link_to "Tiffany Mikell,", "#{speakers_path}#tiffany-mikell"
          = link_to "Carol Willing,", "#{speakers_path}#carol-willing"
          = link_to "Sarah Mei,", "#{speakers_path}#sarah-mei"
          and
          = link_to "Naomi Ceder", "#{speakers_path}#naomi-ceder"
      %td
        %p.track__title
          = link_to "Iris Amelia Febres", "#{speakers_path}#iris-amelia-febres"
          %br
          From Ink to Pixels: The Story within Ebooks

    %tr.row
      %td 11:25 am
      %td{ rowspan: 2 }
        %p.track__title
          Write your own talk proposal
      %td
        %p.track__title
          = link_to "Liz Rush", "#{speakers_path}#liz-rush"
          %br
          Challenging & Democratizing Algorithm Development

    %tr.row
      %td 12:05 pm
      %td
        %p.track__title
          Project Brainstorming Workshop

    %tr.row--all
      %td 1:00 pm
      %td{ colspan: 2 }
        Lunch with Meron Tamrat, Women Techmakers/Google

    %tr
      %td 1:40 pm
      %td
        %p.track__title
          = link_to "Carina Zona", "#{speakers_path}#carina-zona"
          %br
          Rock That Q&A: Pro Tips for Speakers, Audiences, and Hosts
      %td{ rowspan: 2 }
        %p.track__title
          = link_to "Yulia Ovchinnikova", "#{speakers_path}#yulia-ovchinnikova"
          %br
          Elemental SWOT: Embrace your inner entrepreneur

    %tr
      %td 2:15 pm
      %td
        %p.track__title
          Work on Talk

    %tr
      %td 2:45 pm
      %td{ rowspan: 2 }
        %p.track__title
          Optional Q & A Roleplaying workshop (2:15-3:00pm)
      %td
        %p.track__title
          Break

    %tr
      %td 2:50 pm
      %td
        %p.track__title
          Project Discovery Workshop

    %tr.row--all
      %td 3:45 pm
      %td
        %p.track__title
          Snack Break (in room)
      %td
        %p.track__title
          Snack Break

    %tr
      %td 4:00 pm
      %td
        %p.track__title
          Present Talk
      %td
        %p.track__title
          Project Planning

    %tr.row--keynote
      %td 5:40 pm
      %td{ colspan: 2 }
        %p.track__title
          = link_to "Naomi Ceder", "#{speakers_path}#naomi-ceder"
          %br
          It's not you, it's them: Reflections on being marginalized in STEM

    %tr.row--all
      %td 6:30 pm
      %td{ colspan: 2 }
        Appreciations & Action Items

  %a{ name: 'day3' }
  %h2
    Friday, June 17, 2016

  = link_to "All Friday Talk Descriptions", "#{talks_path}#code"
  |
  = link_to "All Alumna Talks Descriptions", alumna_talks_path

  %table
    %tr
      %th.schedule__time &nbsp;
      %th.schedule__track
        All Tracks
      %th.schedule__track
        Optional Talks

    %tr
      %td 8:00 am
      %td{ colspan: 2 }
        %p.track__title
          = link_to "Carol Willing", "#{speakers_path}#carol-willing"
          %br
          Intro to Git & Github
        %br
        %small (Optional)

    %tr.row--all
      %td 9:00 am
      %td{ colspan: 2 }
        %p.track__title
          Welcome and Breakfast

    %tr.row--keynote
      %td 9:10 am
      %td{ colspan: 2 }
        %p.track__title
          = link_to "Fureigh", "#{speakers_path}#fureigh"
          %br
          Civic hacking: build your cred while doing good

    %tr.row--keynote
      %td 10:00 am
      %td{ colspan: 2 }
        %p.track__title
          Project Shopping

    %tr
      %td 10:35 am
      %td{ rowspan: 4 }
        %p.track__title
          First Years - Code
          %br
          Alumna - Project Work
      %td
        %p.track__title
          Rebecca Miller-Webster
          %br
          Intro to Open Source
        %br
        %small (Optional)

    %tr
      %td 11:10 am
      %td
        %p.track__title
          = link_to "Cora Hays-Magan", "#{speakers_path}#cora-hays-magan"
          %br
          Getting Over the Open Source Jitters
        %br
        %small (Optional)

    %tr
      %td 11:30 am
      %td
        %p.track__title
          = link_to "Tripta Gupta", "#{speakers_path}#tripta-gupta"
          %br
          Give Your Code the Documentation It Deserves: How Documentation Increases Code Quality
        %br
        %small (Optional)

    %tr
      %td 11:55 am
      %td
        %p.track__title
          = link_to "Liz Abinante", "#{speakers_path}#liz-abinante"
          %br
          Writing Your First Ruby Gem
        %br
        %small (Optional)

    %tr.row--all
      %td 1:00 pm
      %td{ colspan: 2 }
        Lunch with Karen Nowicki, kCura

    %tr.row--keynote
      %td 1:50 pm
      %td{ colspan: 2 }
        %p.track__title
          First Years - Code
          %br
          Alumna - Project Work

    %tr.row--all
      %td 3:55 pm
      %td{ colspan: 2 }
        Break

    %tr.row--keynote
      %td 4:10 pm
      %td{ colspan:2 }
        Code or Project Work continued

    %tr
      %td 4:35 pm
      %td{ colspan: 2 }
        Raffle

    %tr
      %td 5:00 pm
      %td{ colspan: 2 }
        Alumna Presentations

    %tr.row--keynote
      %td 5:35 pm
      %td{ colspan: 2 }
        %p.track__title
          = link_to "Coraline Ada Ehmke", "#{speakers_path}#coraline-ada-ehmke"
          %br
          Diversity in OSS: Are We As Open As Our Code?

    %tr.row--all
      %td 6:00 pm
      %td{ colspan: 2 }
        Appreciations &amp; Action Items

    %tr
      %td 7:00 pm
      %td{ colspan: 2 }
        Meetup Chapter Summit @ Breather, 223 W Jackson

  %a{ name: 'day4' }
  %h2
    Saturday, June 18, 2016

  = link_to "All Saturday Talk Descriptions", "#{talks_path}#speak"

  %table
    %tr
      %th{ colspan: 2 }
        Self-Care Day

    %tr
      %td
        10:00 am
      %td
        Welcome, Breakfast, & Mimosas!

    %tr
      %td
        10:15 am
      %td
        = link_to "Cate Huston", "#{speakers_path}#cate-huston"
        %br
        Some things I've learned about color

    %tr
      %td
        11:05 am
      %td
        = link_to "Allison McMillan", "#{speakers_path}##allison-mcmillan"
        %br
        BDD: Baby Driven Development

    %tr
      %td
        11:45
      %td
        = link_to "Ashley Powell", "#{speakers_path}#ashley-powell"
        %br
        Salary Negotiation for Women in Tech


    %tr.row--all
      %td
        12:30 pm
      %td
        Lunch with Annie Ruggles, Polymathic

    %tr
      %td
        1:30 pm
      %td
        = link_to "Marylou Lenhart", "#{speakers_path}#marylou-lenhart"
        %br
        Posture for Engineers

    %tr
      %td
        2:05 pm
      %td
        = link_to "Lauren Fitzgerald", "#{speakers_path}#lauren-fitzgerald"
        %br
        Addressing Emotional Labor in Your Tech Career

    %tr
      %td
        3:10 pm
      %td
        = link_to "Iris Amelia Febres", "#{speakers_path}#iris-amelia-febres"
        %br
        Networking Forever


    %tr
      %td
        4:00 pm
      %td
        Conference Closing
