
%a{ name: 'top' }
%h1
  Write/Speak/Code 2016 Schedule

%h2
  Leadership, Visibility, &amp; Code

%h3
  Three days of workshops, talks, &amp; panels
  %br
  One day of Career Development &amp; Self-Care.

%ul.breadcrumbs
  %li
    = link_to  'Wednesday', '#day1'
  %li
    = link_to  'Thursday', '#day2'
  %li
    = link_to  'Friday', '#day1'
  %li
    = link_to  'Saturday', '#day1'
  %li
    = link_to  'The Tracks', '#tracks'

%small
  %i All times are approximate. More details coming soon!

%a{ name: 'day1' }
%h2.day-title Day 1: Wed June 15, 2016
%ul.breadcrumbs
  %li
    = link_to  'Top', '#top'
  %li
    = link_to  'The Tracks', '#tracks'

%table.days-schedule.day1
  %tr.tracks-title
    %td &nbsp;
    %td
      %h3 First-year Track: Write
    %td
      %h3 Alumna Track: Leadership
  %tr.internal
    %td 8:00 am
    %td{ colspan: 2 }
      %h4 Registration &amp; Breakfast
  %tr
    %td 9:00 am
    %td{ colspan: 2 }
      %h4 Welcome &amp; Opening Talks
  %tr
    %td 11:00 am
    %td
      %h4 Craft a powerful bio
      %ul
        %li Mine your knowledge &amp; experience
        %li Own your expertise
        %li Confidently tell your story
    %td
      %h4 Leadership &amp; communication
      %ul
        %li Explore communication styles
        %li Find your leadership philosophy
        %li Role play new found skills
  %tr.internal
    %td 1:00 pm
    %td{ colspan: 2 }
      Lunch
  %tr
    %td 2:00 pm
    %td
      %h4 Write
      %ul
        %li Generate 20 topics to write or speak about
        %li Learn from women code authors
        %li Try a variety of outlining techniques
        %li Write a blog post and get feedback
    %td
      %h4 Self-care
      %ul
        %li Learn to effectively create change
        %li Process working in a male-dominated field
        %li Explore mindfulness
        %li Create art for self-care
  %tr
    %td 5:00 pm
    %td{ colspan: 2 }
      %h4 Closing Talk
  %tr
    %td 6:00 pm
    %td{ colspan: 2 }
      %h4 Appreciations &amp; Action Items
  %tr.internal
    %td 6:30 pm
    %td{ colspan: 2 }
      End of Day 1
  %tr.community
    %td 7:30 pm
    %td{ colspan: 2 }
      %h4 Community Event
      %small
        %i More info coming soon!

%a{ name: 'day2' }
%h2.day-title Day 2: Thurs June 16, 2016
%ul.breadcrumbs
  %li
    = link_to  'Top', '#top'
  %li
    = link_to  'The Tracks', '#tracks'

%table.days-schedule.day2
  %tr.tracks-title
    %td &nbsp;
    %td
      %h3 First-year Track: Speak
    %td
      %h3 Alumna Track: Visibility
  %tr
    %td 9:00 am
    %td{ colspan: 2 }
      %h4 Welcome &amp; Opening Talk
  %tr
    %td 10:00 am
    %td
      %h4 Talk Proposals
      %ul
        %li Write your own talk proposal
        %li Women conference organizers panel
        %li Create effective slides
        %li Public speaking skills
    %td
      %h4 Visibility
      %ul
        %li Branding
        %li E-book creation
        %li Algorithm design &amp; evelopment
        %li Entrepreurship
  %tr.internal
    %td 1:00 pm
    %td{ colspan: 2 }
      Lunch
  %tr
    %td 2:00 pm
    %td
      %h4 Speak
      %ul
        %li Learn to Q &amp; A with confidence
        %li Write your talk
        %li Give a talk and get feedback
    %td
      %h4 Find your project
      %ul
        %li Brainstorm projects ideas
        %li Pitch your project &amp; get feedback
        %li Plan your project
  %tr
    %td 5:30 pm
    %td{ colspan: 2 }
      %h4 Closing Talk
  %tr.internal
    %td 6:30 pm
    %td{ colspan: 2 }
      End of Day 2

%a{ name: 'day3' }
%h2.day-title Day 3: Fri June 17, 2016
%ul.breadcrumbs
  %li
    = link_to  'Top', '#top'
  %li
    = link_to  'The Tracks', '#tracks'

%table.days-schedule.day3
  %tr.tracks-title
    %td &nbsp;
    %td
      %h3 First-year Track: Code
    %td
      %h3 Alumna Track: Project
  %tr.internal
    %td 8:00 am
    %td
      %h4 Intro to Git &amp; Github
      %small Optional
    %td
      %h4 Quiet Project Time
      %small Optional
  %tr
    %td 9:00 am
    %td{ colspan: 2 }
      %h4 Welcome &amp; Opening Talk
  %tr
    %td 11:00 am
    %td
      %h4 Find your OSS Project
      %ul
        %li Project intros by women mentors
        %li Learn about open source, getting started, &amp; documentation
    %td
      %h4 Project Work &amp; Tutoring
      %ul
        %li Work on your choosen project
        %li Office hours/tutoring with women experts in UX, project, marketing, &amp; more
  %tr.internal
    %td 1:00 pm
    %td{ colspan: 2 }
      Lunch
  %tr
    %td 2:00 pm
    %td{ colspan: 2 }
      %h4 Work on your choosen Project
  %tr
    %td 4:00 pm
    %td{ colspan: 2 }
      %h4 Alumna Project Demos &amp; Pull Request Raffle
  %tr
    %td 5:00 pm
    %td{ colspan: 2 }
      %h4 Closing Talk
  %tr
    %td 6:00 pm
    %td{ colspan: 2 }
      %h4 Appreciations &amp; Action Items
  %tr.internal
    %td 6:30 pm
    %td{ colspan: 2 }
      End of Day 3
  %tr.community
    %td 7:30 pm
    %td{ colspan: 2 }
      %h4 Conference After-Pary


%a{ name: 'day4' }
%h2.day-title Day 4: Sat June 18, 2016
%ul.breadcrumbs
  %li
    = link_to  'Top', '#top'
  %li
    = link_to  'The Tracks', '#tracks'

%small
  %i Times for Saturday are tenative.  It will not end later than 4pm CST.

%table.days-schedule.day4
  %tr.tracks-title
    %td &nbsp;
    %td{ colspan: 2 }
      %h3 All Tracks
  %tr
    %td
      11:00 am
    %td{ colspan: 2 }
      %h4 Career
      %ul
        %li Staying relevant without burnout
        %li Balancing career &amp; caregiving
        %li Networking skills
  %tr.internal
    %td
      1:00pm
    %td{ colspan: 2 }
      Lunch
  %tr
    %td
      2:00pm
    %td{ colspan: 2 }
      %h4 Self-Care
      %ul
        %li Physical Health
        %li Emotional Labor
  %tr.internal
    %td 4:00 pm
    %td{ colspan: 2 }
      End of Conference

%a{ name: 'tracks' }
%h2.day-title Write/Speak/Code Tracks
%ul.breadcrumbs
  %li
    = link_to  'Top', '#top'

%table.tracks
  %tr.tracks-title
    %td
      %h3 First-year Track
    %td
      %h3 Alumna Track
  %tr
    %td
      %p
        Never been to Write/Speak/Code?
      %small
        %br
        Ready to become a better (or first-time!) blogger, conference speaker,
        and open source contributor?
    %td
      %p
        Been to Write/Speak/Code?
      %small
        %br
        Feel confident writing blog posts, speaking at tech conferences,
        and contributing to open source?
  %tr.internal
    %td
      %p
        Regardless of your experience, you will leave with new &amp; relevant skills
        &amp; utterly empowered by this incredible community of women coders.
    %td
      %p
        Focus on leadership, communication, self-care, &amp; advanced topics.
        Choose a project that's important to you &amp; dedicate the time to take
        that mission to the next level.
