%section.content
  %a{ name: 'top' }
  %h1
    Write/Speak/Code 2016 Schedule

  %nav.sub
    %ul.sub__list
      %li.sub__item
        = link_to  'Wednesday', '#day1'
      %li.sub__item
        = link_to  'Thursday', '#day2'
      %li.sub__item
        = link_to  'Friday', '#day3'
      %li.sub__item
        = link_to  'Saturday', '#day4'

  %a{ name: 'day1' }
  %h2
    Wednesday, June 15, 2016

  %table
    %tr
      %th.schedule__time &nbsp;
      %th.schedule__track
        First-year Track: Write
      %th.schedule__track
        %p
          Alumna Track: Leadership
    %tr.row--all
      %td 8:00 am
      %td{ colspan: 2 }
        Registration &amp; Breakfast
    %tr.row--all
      %td 9:00 am
      %td{ colspan: 2 }
        Welcome
    %tr.row--keynote
      %td
        9:10 am
      %td{ colspan: 2 }
        %p.track__title
          Alex Quin
          %br
          = link_to "Shaving my head made me a better programmer", "#{speakers_path}#alex_qin"

    %tr.row--keynote
      %td
        9:10 am
      %td{ colspan: 2 }
        %p.track__title

          Lauren Scott
          %br
          = link_to "How To Be Everything: A Look At The Way We Give Advice", "#{speakers_path}#lauren_scott"

    %tr
      %td 11:00 am
      %td
        %p.track__title
          Craft a powerful bio
        %ul
          %li Mine your knowledge &amp; experience
          %li Own your expertise
          %li Confidently tell your story
      %td
        %p.track__title

          Leadership &amp; communication
        %ul
          %li
            Katherine Wu
            %br
            = link_to "Ask vs. Guess Culture Communication", "#{speakers_path}#katherine_wu"
          %li
            Find your leadership philosophy
          %li
            Role play newfound skills

    %tr.row--all
      %td 1:00 pm
      %td{ colspan: 2 }
        Lunch

    %tr
      %td 2:00 pm
      %td
        %p.track__title
          Write
        %ul
          %li Generate 20 topics to write or speak about
          %li
            Writing for Developers Panel with
            = link_to "Lauren Scott (Moderator)", "#{speakers_path}#lauren_scott"
            = link_to "Chiu-ki Chan", "#{speakers_path}#chiu-ki_chan"
            = link_to "Tanya Schlusser", "#{speakers_path}#tanya_schlusser"
            = link_to "Annyce Davis", "#{speakers_path}#annyce_davis"
            and
            = link_to "Iris Amelia Febres", "#{speakers_path}#iris_amelia_febres"
          %li Try a variety of outlining techniques
          %li Write a blog post and get feedback
      %td
        %h4 Self-care
        %ul
          %li= link_to "Cassandra at the Keyboard - Heidi Waterhouse", "#{speakers_path}#heidi_waterhouse"
          %li Process working in a male-dominated field
          %li Explore mindfulness
          %li Create art for self-care

    %tr.row--keynote
      %td 5:00 pm
      %td{ colspan: 2 }
        %p.track__title
          Annyce Davis
          %br
          = link_to "Say it with Video", "#{speakers_path}#annyce_davis"

    %tr.row--all
      %td 6:00 pm
      %td{ colspan: 2 }
        Appreciations &amp; Action Items

    %tr.row--all
      %td 6:30 pm
      %td{ colspan: 2 }
        End of Day 1

    %tr
      %td 7:30 pm
      %td{ colspan: 2 }
        %p.track__title
          Community Event
          %small
            %i More info coming soon!

  %a{ name: 'day2' }
  %h2
    Thursday, June 16, 2016

  %table
    %tr
      %th &nbsp;
      %th
        First-year Track: Speak
      %th
        Alumna Track: Visibility

    %tr
      %td 9:00 am
      %td{ colspan: 2 }
        %h4 Welcome

    %tr
      %td &nbsp;
      %td{ colspan: 2 }
        = link_to "Communication and Collaboration: Lessons from the Performing Arts - Julianna Rusakiewicz", "#{speakers_path}#julianna_rusakiewicz"

    %tr
      %td 10:00 am
      %td
        %h4 Talk Proposals
        %ul
          %li Write your own talk proposal
          %li
            %strong Conference Organizers Panel
            with
            = link_to "Chiu-ki Chan (Moderator),", "#{speakers_path}#chiu-ki_chan"
            = link_to "LaToya Allen,", "#{speakers_path}#latoya_allen"
            = link_to "Elle Meredith,", "#{speakers_path}#elle_meredith"
            = link_to "Tiffany Mikell,", "#{speakers_path}#tiffany_mikell"
            = link_to "Carol Willing,", "#{speakers_path}#carol_willing"
            and
            = link_to "Naomi Ceder.", "#{speakers_path}#naomi_ceder"
          %li Create effective slides
          %li Public speaking skills
      %td
        %h4 Visibility
        %ul
          %li= link_to "Branding is the most cringeworthy term you want to know about - Neha Batra", "#{speakers_path}#neha_batra"
          %li= link_to "From Ink to Pixels: The Story within Ebooks - Iris Amelia Febres", "#{speakers_path}#iris_amelia_febres"
          %li= link_to "Challenging & Democratizing Algorithm Development - Liz Rush", "#{speakers_path}#liz_rush"
          %li= link_to "Elemental SWOT: Embrace your inner entrepreneur - Yulia Ovchinnikova", "#{speakers_path}#yulia_ovchinnikova"

    %tr
      %td 1:00 pm
      %td{ colspan: 2 }
        Lunch

    %tr
      %td 2:00 pm
      %td
        %h4 Speak
        %ul
          %li
            = link_to "How to Q & A - Carina Zona", "#{speakers_path}#carina_zona"
            %br/
            %small Followed by optional Q &amp; A roleplaying workshop with Carina!
          %li Write your talk
          %li Give a talk and get feedback
      %td
        %h4 Find your project
        %ul
          %li Brainstorm projects ideas
          %li Pitch your project &amp; get feedback
          %li Plan your project

    %tr
      %td 5:30 pm
      %td{ colspan: 2 }
        %h3
          = link_to "It's not you, it's them: Reflections on being marginalized in STEM - Naomi Ceder", "#{speakers_path}#naomi_ceder"
    %tr.internal
      %td 6:30 pm
      %td{ colspan: 2 }
        End of Day 2

  %a{ name: 'day3' }
  %h2
    Friday, June 17, 2016

  %table
    %tr
      %th &nbsp;
      %th
        First-year Track: Code
      %th
        Alumna Track: Project

    %tr
      %td 8:00 am
      %td
        %h4
          = link_to "Intro to Git & Github - Carol Willing", "#{speakers_path}#carol_willing"
        %small Optional
      %td
        %h4 Quiet Project Time
        %small Optional

    %tr
      %td 9:00 am
      %td{ colspan: 2 }
        %h4 Welcome
    %tr
      %td &nbsp;
      %td{ colspan: 2 }
        %h3
          = link_to "Civic hacking: build your cred while doing good - Fureigh", "#{speakers_path}#fureigh"

    %tr
      %td 11:00 am
      %td
        %h4 Find your OSS Project
        %ul
          %li Project intros by women mentors
          %li
            Intro to Open Source - Rebecca Miller-Webster
            %small (Optional)
          %li
            = link_to "Getting Over the Open Source Jitters - Cora Hays-Magan", "#{speakers_path}#cora_hays-magan"
            %small (Optional)
          %li
            = link_to "Give Your Code the Documentation It Deserves: How Documentation Increases Code Quality - Tripta Gupta", "#{speakers_path}#tripta_gupta"
            %small (Optional)
          %li
            = link_to "Writing Your First Ruby Gem - Liz Abinante", "#{speakers_path}#liz_abinante"
            %small (Optional)
      %td
        %h4 Project Work &amp; Tutoring
        %ul
          %li Work on your chosen project
          %li Office hours/tutoring with women experts in UX, project, marketing, &amp; more

    %tr
      %td 1:00 pm
      %td{ colspan: 2 }
        Lunch

    %tr
      %td 2:00 pm
      %td{ colspan: 2 }
        %h4 Work on your chosen Project

    %tr
      %td 4:00 pm
      %td{ colspan: 2 }
        %h4 Alumna Project Demos &amp; Pull Request Raffle
    %tr
      %td 5:00 pm
      %td{ colspan: 2 }
        %h3
          = link_to "Diversity in OSS: Are We As Open As Our Code? - Coraline Ada Ehmke", "#{speakers_path}#coraline_ada_ehmke"

    %tr
      %td 6:00 pm
      %td{ colspan: 2 }
        %h4 Appreciations &amp; Action Items

    %tr
      %td 6:30 pm
      %td{ colspan: 2 }
        End of Day 3

    %tr
      %td 7:30 pm
      %td{ colspan: 2 }
        %h4 Conference After-Party

  %a{ name: 'day4' }
  %h2
    Saturday, June 18, 2016

  %table
    %tr
      %th &nbsp;
      %th{ colspan: 2 }
        Self Care Day

    %tr
      %td
        11:00 am
      %td{ colspan: 2 }
        %h4 Career
        %ul
          %li= link_to "Salary Negotiation for Women in Tech - Ashley Powell", "#{speakers_path}#ashley_powell"
          %li= link_to "BDD: Baby Driven Development - Allison McMillan", "#{speakers_path}##allison_mcmillan"
          %li= link_to "Networking Forever - Iris Amelia Febres", "#{speakers_path}#iris_amelia_febres"

    %tr
      %td
        1:00pm
      %td{ colspan: 2 }
        Lunch

    %tr
      %td
        2:00pm
      %td{ colspan: 2 }
        %h4 Self-Care
        %ul
          %li= link_to "Posture for Engineers - Marylou Lenhart", "#{speakers_path}#marylou_lenhart"
          %li
            = link_to "Addressing Emotional Labor in Your Tech Career - Catherine Dugan", "#{speakers_path}#catherine_dugan"
            ,&nbsp;
            = link_to "Dannielle Del Rosario", "#{speakers_path}#dannielle_del_rosario"
            , and&nbsp;
            = link_to "Lauren Fitzgerald", "#{speakers_path}#lauren_fitzgerald"

    %tr
      %td 4:00 pm
      %td{ colspan: 2 }
        End of Conference
