%section.content
  %a{ name: 'top' }
  %h1
    Write/Speak/Code 2016 Schedule

  %nav.sub
    %ul.sub__list
      %li.sub__item
        = link_to  'Wednesday', '#day1'
      %li.sub__item
        = link_to  'Thursday', '#day2'
      %li.sub__item
        = link_to  'Friday', '#day3'
      %li.sub__item
        = link_to  'Saturday', '#day4'

  %a{ name: 'day1' }
  %h2
    Wednesday, June 15, 2016

  = link_to "All Wednesday Talk Descriptions", "#{talks_path}#write"
  |
  = link_to "All Alumna Talk Descriptions", alumna_talks_path

  %table
    %tr
      %th.schedule__time &nbsp;
      %th.schedule__track
        First-year Track: Write
      %th.schedule__track
        Alumna Track: Leadership
    %tr.row--all
      %td 8:00 am
      %td{ colspan: 2 }
        Registration &amp; Breakfast
    %tr.row--all
      %td 9:00 am
      %td{ colspan: 2 }
        Welcome
    %tr.row--keynote
      %td
        9:10 am
      %td{ colspan: 2 }
        %p.track__title
          Alex Quin
          %br
          = link_to "Shaving my head made me a better programmer", "#{speakers_path}#alex-qin"

    %tr.row--keynote
      %td
        10:05 am
      %td{ colspan: 2 }
        %p.track__title
          Lauren Scott
          %br
          = link_to "How To Be Everything: A Look At The Way We Give Advice", "#{speakers_path}#lauren-scott"

    %tr
      %td 11:00 am
      %td
        %p.track__title
          Craft a powerful bio
        %ul
          %li Mine your knowledge &amp; experience
          %li Own your expertise
          %li Confidently tell your story
      %td
        %p.track__title
          Leadership &amp; communication
        %ul
          %li
            Katherine Wu
            %br
            = link_to "Ask vs. Guess Culture Communication", "#{speakers_path}#katherine-wu"
          %li
            Find your leadership philosophy
          %li
            Role play newfound skills

    %tr.row--all
      %td 1:00 pm
      %td{ colspan: 2 }
        Lunch

    %tr
      %td 2:00 pm
      %td
        %p.track__title
          Write
        %ul
          %li Generate 20 topics to write or speak about
          %li
            Writing for Developers Panel with
            = link_to "Lauren Scott (Moderator)", "#{speakers_path}#lauren-scott"
            = link_to "Chiu-ki Chan", "#{speakers_path}#chiu-ki-chan"
            = link_to "Tanya Schlusser", "#{speakers_path}#tanya-schlusser"
            = link_to "Annyce Davis", "#{speakers_path}#annyce-davis"
            and
            = link_to "Iris Amelia Febres", "#{speakers_path}#iris-amelia-febres"
          %li Try a variety of outlining techniques
          %li Write a blog post and get feedback
      %td
        %p.track__title
          Self-care
        %ul
          %li
            Heidi Waterhouse
            %br
            = link_to "Cassandra at the Keyboard", "#{speakers_path}#heidi-waterhouse"
          %li Process working in a male-dominated field
          %li Explore mindfulness
          %li Create art for self-care

    %tr.row--keynote
      %td 5:00 pm
      %td{ colspan: 2 }
        %p.track__title
          Annyce Davis
          %br
          = link_to "Say it with Video", "#{speakers_path}#annyce-davis"

    %tr.row--all
      %td 6:00 pm
      %td{ colspan: 2 }
        Appreciations &amp; Action Items

    %tr.row--all
      %td 6:30 pm
      %td{ colspan: 2 }
        End of Day 1

    %tr
      %td 7:00pm
      %td{ colspan: 2 }
        Opening Night Party

  %a{ name: 'day2' }
  %h2
    Thursday, June 16, 2016

  = link_to "All Thursday Talk Descriptions", "#{talks_path}#speak"
  |
  = link_to "All Alumna Talks Descriptions", alumna_talks_path

  %table
    %tr
      %th.schedule__time &nbsp;
      %th.schedule__track
        First-year Track: Speak
      %th.schedule__track
        Alumna Track: Visibility

    %tr.row--all
      %td 9:00 am
      %td{ colspan: 2 }
        Welcome

    %tr.row--keynote
      %td &nbsp;
      %td{ colspan: 2 }
        %p.track__title
          Julianna Rusakiewicz
          %br
          = link_to "Communication and Collaboration: Lessons from the Performing Arts", "#{speakers_path}#julianna-rusakiewicz"

    %tr
      %td 10:00 am
      %td
        %p.track__title
          Talk Proposals
        %ul
          %li Write your own talk proposal
          %li
            Conference Organizers Panel
            with
            = link_to "Chiu-ki Chan (Moderator),", "#{speakers_path}#chiu-ki-chan"
            = link_to "LaToya Allen,", "#{speakers_path}#latoya-allen"
            = link_to "Elle Meredith,", "#{speakers_path}#elle-meredith"
            = link_to "Tiffany Mikell,", "#{speakers_path}#tiffany-mikell"
            = link_to "Carol Willing,", "#{speakers_path}#carol-willing"
            = link_to "Sarah Mei,", "#{speakers_path}#sarah-mei"
            and
            = link_to "Naomi Ceder", "#{speakers_path}#naomi-ceder"
          %li Create effective slides
          %li Public speaking skills
      %td
        %p.track__title
          Visibility
        %ul
          %li
            Neha Batra
            %br
            = link_to "Branding is the most cringeworthy term you want to know about", "#{speakers_path}#neha-batra"
          %li
            Iris Amelia Febres
            %br
            = link_to "From Ink to Pixels: The Story within Ebooks", "#{speakers_path}#iris-amelia-febres"
          %li
            Liz Rush
            %br
            = link_to "Challenging & Democratizing Algorithm Development", "#{speakers_path}#liz-rush"
          %li
            Yulia Ovchinnikova
            %br
            = link_to "Elemental SWOT: Embrace your inner entrepreneur", "#{speakers_path}#yulia-ovchinnikova"

    %tr.row--all
      %td 1:00 pm
      %td{ colspan: 2 }
        Lunch

    %tr
      %td 2:00 pm
      %td
        %p.track__title
          Speak
        %ul
          %li
            Carina Zona
            %br
            = link_to "How to Q&A", "#{speakers_path}#carina-zona"
            %br
            %small Followed by optional Q&amp;A roleplaying workshop with Carina!
          %li Write your talk
          %li Give a talk and get feedback
      %td
        %p.track__title
          Find your project
        %ul
          %li Brainstorm projects ideas
          %li Pitch your project &amp; get feedback
          %li Plan your project

    %tr.row--keynote
      %td 5:30 pm
      %td{ colspan: 2 }
        %p.track__title
          Naomi Ceder
          %br
          = link_to "It's not you, it's them: Reflections on being marginalized in STEM", "#{speakers_path}#naomi-ceder"

    %tr.row--all
      %td 6:30 pm
      %td{ colspan: 2 }
        End of Day 2

    %tr
      %td 7:30 pm
      %td{ colspan: 2 }
        %p.track__title
          Community Event
          %br
          %small
            %i More info coming soon!

  %a{ name: 'day3' }
  %h2
    Friday, June 17, 2016

  = link_to "All Friday Talk Descriptions", "#{talks_path}#code"
  |
  = link_to "All Alumna Talks Descriptions", alumna_talks_path

  %table
    %tr
      %th.schedule__time &nbsp;
      %th.schedule__track
        First-year Track: Code
      %th.schedule__track
        Alumna Track: Project

    %tr
      %td 8:00 am
      %td
        %p.track__title
          Carol Willing
          %br
          = link_to "Intro to Git & Github", "#{speakers_path}#carol-willing"
          %br
          %small (Optional)
      %td
        %p.track__title
          Quiet Project Time
          %br
          %small (Optional)

    %tr.row--all
      %td 9:00 am
      %td{ colspan: 2 }
        %p.track__title
          Welcome

    %tr.row--keynote
      %td &nbsp;
      %td{ colspan: 2 }
        %p.track__title
          Fureigh
          %br
          = link_to "Civic hacking: build your cred while doing good", "#{speakers_path}#fureigh"

    %tr
      %td 11:00 am
      %td
        %p.track__title
          Find your OSS Project
        %ul
          %li Project intros by women mentors
          %li
            Rebecca Miller-Webster
            %br
            Intro to Open Source
            %br
            %small (Optional)
          %li
            Cora Hays-Magan
            %br
            = link_to "Getting Over the Open Source Jitters", "#{speakers_path}#cora-hays-magan"
            %br
            %small (Optional)
          %li
            Tripta Gupta
            %br
            = link_to "Give Your Code the Documentation It Deserves: How Documentation Increases Code Quality", "#{speakers_path}#tripta-gupta"
            %br
            %small (Optional)
          %li
            Liz Abinante
            %br
            = link_to "Writing Your First Ruby Gem", "#{speakers_path}#liz-abinante"
            %br
            %small (Optional)
      %td
        %p.track__title
          Project Work &amp; Tutoring
        %ul
          %li Work on your chosen project
          %li Office hours/tutoring with women experts in UX, project, marketing, &amp; more

    %tr.row--all
      %td 1:00 pm
      %td{ colspan: 2 }
        Lunch

    %tr
      %td 2:00 pm
      %td{ colspan: 2 }
        Work on your chosen Project

    %tr
      %td 4:00 pm
      %td{ colspan: 2 }
        Alumna Project Demos &amp; Pull Request Raffle

    %tr.row--keynote
      %td 5:00 pm
      %td{ colspan: 2 }
        %p
          Coraline Ada Ehmke
          %br
          = link_to "Diversity in OSS: Are We As Open As Our Code?", "#{speakers_path}#coraline-ada-ehmke"

    %tr.row--all
      %td 6:00 pm
      %td{ colspan: 2 }
        Appreciations &amp; Action Items

    %tr.row--all
      %td 6:30 pm
      %td{ colspan: 2 }
        End of Day 3

  %a{ name: 'day4' }
  %h2
    Saturday, June 18, 2016

  = link_to "All Saturday Talk Descriptions", "#{talks_path}#speak"
  |
  %small Please note that Saturday schedule is tentative

  %table
    %tr
      %th &nbsp;
      %th
        Self-Care Day

    %tr
      %td
        10:00 am
      %td
        %p.track__title
          Career
        %ul
          %li
            = link_to "Cate Huston", "#{speakers_path}#cate-huston"
            %br
            "Some things I've learned about color"
          %li
            Ashley Powell
            %br
            = link_to "Salary Negotiation for Women in Tech", "#{speakers_path}#ashley-powell"
          %li
            Allison McMillan
            %br
            = link_to "BDD: Baby Driven Development", "#{speakers_path}##allison-mcmillan"
          %li
            Iris Amelia Febres
            %br
            = link_to "Networking Forever", "#{speakers_path}#iris-amelia-febres"

    %tr.row--all
      %td
        1:00pm
      %td
        Lunch

    %tr
      %td
        2:00pm
      %td
        %p.track__title
          Self-Care
        %ul
          %li
            Marylou Lenhart
            %br
            = link_to "Posture for Engineers", "#{speakers_path}#marylou-lenhart"
          %li
            = link_to "Catherine Dugan,", "#{speakers_path}#catherine-dugan"
            = link_to "Dannielle Del Rosario,", "#{speakers_path}#dannielle-del-rosario"
            and
            = link_to "Lauren Fitzgerald", "#{speakers_path}#lauren-fitzgerald"
            %br
            Addressing Emotional Labor in Your Tech Career

    %tr.row--all
      %td 4:00 pm
      %td
        End of Conference
