%section.content
  %article
    %h1 General FAQ

    %h2
      Where is the conference?

    %p
      The Chicago School of Professional Psychology
      %br
      325 North Wells Street
      %br
      Chicago, IL 60654

    %h2
      Which airport should I fly into?

    %p
      Both O’Hare and Midway are accessible by public transportation
      (CTA - Chicago Transit Authority);
      the Blue line serves O’Hare and the Orange line serves Midway.
      While the Blue line runs all hours the Orange line only runs until 1:00am.
      Either airport will allow you to easily get to the venue downtown.

    %h3
      Directions from Midway Airport to the Congress Plaza Hotel

    %p
      Buy a CTA ticket from
      #{link_to 'Ventra', 'http://www.transitchicago.com/visitors/'},
      take the Orange Line to the Harold Washington Library-State/Van Buren stop,
      and then walk the remaining 3 blocks.
      See #{link_to 'full directions', 'https://www.google.com/maps/dir/Midway+International+Airport,+South+Cicero+Avenue,+Chicago,+IL/The+Congress+Plaza+Hotel,+520+South+Michigan+Avenue,+Chicago,+IL+60605/@41.8317319,-87.7184579,13z/am=t/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x880e3106758d00cd:0x4ffc7be0c455d533!2m2!1d-87.7431216!2d41.7865738!1m5!1m1!1s0x880e2ca201339ba9:0xb85fc65faea623c2!2m2!1d-87.6247938!2d41.8752022!3e3'}.

    %h3
      Directions from O'Hare Airport to the Congress Plaza Hotel
    %p
      Buy a CTA ticket from
      #{link_to 'Ventra', 'http://www.transitchicago.com/visitors/'},
      take the Blue Line to the LaSalle stop,
      and then walk the remaining 4 blocks.
      See #{link_to 'full directions', "https://www.google.com/maps/dir/O'Hare+International+Airport,+Chicago,+IL/The+Congress+Plaza+Hotel,+520+South+Michigan+Avenue,+Chicago,+IL+60605/@41.9298026,-87.9056221,11z/am=t/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x880fb4276a7762f3:0x511747070259ad4b!2m2!1d-87.9073214!2d41.9741625!1m5!1m1!1s0x880e2ca201339ba9:0xb85fc65faea623c2!2m2!1d-87.6247938!2d41.8752022!3e3"}.

    %h2
      Are there block rates for hotels?

    %p
      We have a room block at
      %a{ href: 'http://www.congressplazahotel.com'}
        The Congress Plaza Hotel
      with a nightly rate of $180. When you make the reservation,
      let them know that you are using the Write/Speak/Code room block. This
      special rate is only for a limited number of rooms
      and must be booked before May 15th.

    %p
      If you run into trouble using the room rate, connect to extension 5025 or 5026
      to speak with someone who can help.

    %p
      Congress Plaza Hotel
      %br
      520 South Michigan Avenue
      %br
      Chicago, IL 60605
      %br
      (800) 635-1666
      %br
      (312) 427-3800

    %h3
      Directions from the Congress Plaza Hotel to the Conference
    %p
      Buy a CTA ticket from
      #{link_to 'Ventra', 'http://www.transitchicago.com/visitors/'},
      take the Purple Line.
      See #{link_to 'full directions', 'https://www.google.com/maps/dir/The+Congress+Plaza+Hotel,+520+South+Michigan+Avenue,+Chicago,+IL+60605/The+Chicago+School+of+Professional+Psychology,+325+North+Wells+Street,+Chicago,+IL+60654/@41.8821014,-87.6385758,15z/am=t/data=!4m18!4m17!1m5!1m1!1s0x880e2ca201339ba9:0xb85fc65faea623c2!2m2!1d-87.6247938!2d41.8752022!1m5!1m1!1s0x880e2cb728d1210d:0x637a23c7d77b760e!2m2!1d-87.6336721!2d41.888157!2m3!6e1!7e2!8j1465981200!3e3'}.

    %iframe{src:"https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d11882.000270578124!2d-87.63857576431553!3d41.882101443279076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0x880e2ca201339ba9%3A0xb85fc65faea623c2!2sThe+Congress+Plaza+Hotel%2C+520+South+Michigan+Avenue%2C+Chicago%2C+IL+60605!3m2!1d41.8752022!2d-87.62479379999999!4m5!1s0x880e2cb728d1210d%3A0x637a23c7d77b760e!2sThe+Chicago+School+of+Professional+Psychology%2C+325+North+Wells+Street%2C+Chicago%2C+IL+60654!3m2!1d41.888157!2d-87.6336721!5e0!3m2!1sen!2sus!4v1463089214460", width:"600", height:"450", frameborder:"0", style:"border:0;", allowfullscreen:"true"}

    %h1{id:'speakers'}
      Speaker FAQ

    %h2 Which day should I plan to arrive?

    %p
      Speakers have a speaker dinner on Tuesday, June 14th. We would advise
      you arrive early enough on Tuesday if you plan to go to dinner. As a
      speaker you are expected to be present  for all three days of the
      conference. This year Write/Speak/Code has a new day, Self-Care, on
      Saturday June 18th that we would love for you to participate in as well!
