- filter = 'conference'
%section.content
  %article
    %h1
      Thank you to our amazing sponsors!

    %p
      Interested in
      = link_to 'becoming a sponsor?', '/sponsor.html'

    - sponsor_levels.each do |level, order|
      - sponsors = sponsors_for(filter, level)

      - unless sponsors.empty?
        %h2
          = "#{level.to_s.titleize}"

        .sponsor-level

          - sponsors.each do |slug, sponsor|
            .sponsor__info
              %a.sponsor__logo{ href: sponsor.url, target:'_blank', title: "#{sponsor.name}" }
                = image_tag sponsor.image
              - unless sponsor.sponsor_level == "bronze"
                %p.sponsor__description
                  = link_to sponsor.name, sponsor.url
                  = sponsor.description
