%section.content
  %h1
    Write/Speak/Code 2016 Speakers

  %h2
    Keynotes

  %h2
    Speakers

  %h2
    Panelists

  %h2
    Mentors

  .speakers
    - @speakers.each do |speaker|
      .speaker
        %a{ id: speaker.slug }
        .speaker__headshot
          - if speaker.image
            = image_tag "speaker-headshots/#{speaker.image}", alt: speaker.name
        %h3
          = speaker.name
        %h4
          - [speaker.talks].flatten.each do |talk|
            = talk
        - if speaker.bio
          .speaker__bio
            = speaker.bio.html_safe
        .speaker__links
          - speaker.social_info.each do |type, url|
            %a.speaker__social{ href: url, target: '_blank' }
              = type
