<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{ name: "HandheldFriendly" , content: "True" }/
    %meta{ name: "MobileOptimized" , content: "320" }/
    %meta{ name: "viewport" , content: "width=device-width, initial-scale=1.0" }/

    / Use title if it's in the page YAML frontmatter
    %title= "2016 Write/Speak/Code Conference"

    = stylesheet_link_tag "application"
    = javascript_include_tag "all"

    %link{:href => "/assets/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %link{:href => "/assets/favicon.ico", :rel => "icon", :type => "image/x-icon"}/

  %body
    = render "partials/nav"

    = yield

    = render "partials/sponsors_footer"

    = render "partials/footer"

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40295985-1', 'auto');
      ga('send', 'pageview');
