<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{ name: "HandheldFriendly" , content: "True" }/
    %meta{ name: "MobileOptimized" , content: "320" }/
    %meta{ name: "viewport" , content: "width=device-width, initial-scale=1.0" }/

    / Use title if it's in the page YAML frontmatter
    %title= "2016 Write/Speak/Code Conference"

    = stylesheet_link_tag "normalize", "application"
    = javascript_include_tag "all"

    -# Remove typekit for now
    -#= javascript_include_tag "//use.typekit.net/olz5yha.js"
    -#:javascript
    -#  try{Typekit.load();}catch(e){ alert(e); }

  %body{class: page_class}
    .container
      %header.navigation{ role: "banner" }
        .navigation-wrapper
          %h1.logo><
            %a{ href: '/' }>
              = image_tag "conf-2016-logo.svg"
          %a#js-mobile-menu.navigation-menu-button{ href: "javascript:void(0)" }
            %i.fa.fa-bars

          %nav{ role: "navigation" }
            %ul#js-navigation-menu.navigation-menu.show

              %li.nav-link.program.schedule.speakers.more
                = link_to "Program", page_path("schedule")
                %ul.submenu
                  %li.schedule
                    = link_to "Schedule", page_path("schedule")
                  %li.speakers
                    = link_to "Speakers", speakers_path

              %li.nav-link.sponsors
                = link_to 'Our Sponsors!', '/sponsors.html'
              %li.nav-link.tickets
                = link_to 'Tickets', '/tickets.html'
              %li.nav-link.volunteer
                %a{ href:"https://docs.google.com/forms/d/1obRXfww95fe7IEYez5_6mTQ_APNWJJX2E7BU5oYGEkI/viewform", target: '_blank'} Volunteer
              %li.nav-link.childcare
                = link_to "Childcare & Accessibility", "/childcare.html"
              %li.nav-link.faq
                = link_to "FAQ", "/faq.html"

              %li.nav-link.about
                %a.deemphasize{ href:"http://writespeakcode.com/about" } About

              %li.nav-link.blog
                %a.deemphasize{ href:"http://writespeakcode.com/blog" } Blog

      %section#main.conference
        = yield

      %footer.footer{ role: "contentinfo" }
        .footer-logo

        %ul
          %li
            = link_to "About", "http://writespeakcode.com/about"
          %li
            = link_to "Organizers", "http://writespeakcode.com/about/organizers"

        .footer-secondary-links
          %ul
            %li
              = link_to "Code of Conduct", "http://writespeakcode.com/about/code-of-conduct"
            %li
              = "&copy; Write/Speak/Code 2015-#{DateTime.now.year}".html_safe

          %ul.footer-social
            %li
              %a{ href: 'http://www.twitter.com/writespeakcode' }
                %span.fa.fa-twitter
            %li
              %a{ href: 'http://www.github.com/writespeakcode' }
                %span.fa.fa-github
            %li
              %a{ href: 'mailto:info@writespeakcode.com' }
                %span.fa.fa-envelope

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40295985-1', 'auto');
      ga('send', 'pageview');
