= wrap_layout :base_layout do
  .conference_layout{ class: "#{'sub_page' if current_page.data.sub_page}" }
    %section.hero
      .hero-inner
        .hero-logo
          = image_tag "conf-2016-logo.svg"

        .hero-copy
          %h2
            June 15 - 18, 2016
            %i.fa.fa-star-o
            Chicago, IL

          %div.sign-up
            %p Subscribe to our mailing list to receive conference updates.


            = partial 'partials/mailchimp'

          %div.clear-fix

          %p
            = link_to "Tickets", "/tickets.html", :class => "button alert"
            = link_to "Sponsor", "/sponsor.html", :class => "button alert"
            = link_to "Scholarships", "/scholarships.html", :class => "button alert"


          %p
            Check out our
            = succeed '.' do
              = link_to "fantastic sponsors", "/sponsors.html"

          %h4.childcare-callout
            = link_to "Childcare Available!", "/childcare.html"

    #content
      = yield


      .developer-definition
        %a{ name: 'developer-definition' }
        %small
          We define "coders" as anyone who has written a line of code
          (HTML, CSS, JavaScript, Ruby, Python, Java, whatever) and can explain
          what it does.  Designers, E-book publishers, and beginners as well as
          software engineers with 20 years experience have enjoyed our workshops and been
          inspired by each other.

      %p
        We wouldn't be here without the generous support of
        = succeed '.' do
          = link_to "our sponsors", "/sponsors.html"
